.project-item{
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    background-color: #fff;
    
    background-position: center center;
    background-repeat: no-repeat;

    border-radius: 10px;
    margin: 10px;
    cursor: pointer;

    :hover .content{
        display: block;
    }

    .title{
        font-size: 20px;
        color:#000;
        padding: 10px;
        font-weight: bold;
    }

   
    .image {
        width: 240px;
        height: 170px;
        overflow: hidden;
    }

    .image img {
        width: 400px;
        height: 300px;
        margin: -75px 0 0 -100px;
    }

    &:hover {
        .image {
          opacity: 0.8;
          display: none;
        }
    
        .description{
            display: block;
        }
    }
    
    .data{
        height: 80%;
    }

    .description{
        font-size: 15px;
        color:#000;
        display: none;
        overflow: hidden;
    }


    .tags{
        height: 20%;
        display: flex;
        align-items: flex-end;
        justify-content: center;

    }

    .tag{
        background-color: tomato;
        border-radius: 30px;
        color:#fff;
        padding: 5px;
        font-size: 10px;
        margin: 2px;
        
    }

}